<eui-page>
    <eui-page-content>
        <eui-page-columns>
            <eui-page-column>
                <eui-page-column-body>
                    <div class="main-container" style="position: relative">
                        <img
                            src="assets/images/geoportail.png"
                            alt="Luxembourg view"
                            style="width: 100%; opacity: 0.5; max-height: 100px"
                        />
                        <h1
                            style="
                                position: absolute;
                                top: 0;
                                right: 2rem;
                                height: 15vh;
                            "
                        >
                            Luxembourg Urban Monitor
                        </h1>
                        <app-geoportail-map></app-geoportail-map>
                    </div>
                </eui-page-column-body>
            </eui-page-column>
            <eui-page-column class="eui-page-column--size-l">
                <eui-page-column-body>
                    <h2>Users</h2>
                    <ul *ngIf="!loading()" euiList>
                        <li
                            euiListItem
                            euiPrimary
                            *ngFor="let user of users()"
                            class="eui-avatar-wrapper"
                        >
                            <eui-avatar-image
                                class="eui-avatar-image eui-avatar-image--default"
                            >
                                <eui-avatar-icon>
                                    <eui-icon-svg
                                        icon="person-circle:outline"
                                    ></eui-icon-svg>
                                </eui-avatar-icon>
                            </eui-avatar-image>
                            <eui-avatar-content class="eui-avatar-content">
                                <eui-avatar-content-label>
                                    {{ user.name }}
                                </eui-avatar-content-label>
                            </eui-avatar-content>
                        </li>
                    </ul>
                </eui-page-column-body>
            </eui-page-column>
        </eui-page-columns>
    </eui-page-content>
</eui-page>
