<eui-page>
    <eui-page-content>
        <eui-page-columns>
            <eui-page-column>
                <eui-page-column-body>
                    <div class="main-container" style="position: relative">
                        <img
                            src="assets/images/geoportail.png"
                            alt="Luxembourg view"
                            style="width: 100%; opacity: 0.5; max-height: 100px"
                        />
                        <h1
                            style="
                                position: absolute;
                                top: 0;
                                right: 2rem;
                                height: 15vh;
                            "
                        >
                            Luxembourg Urban Monitor
                        </h1>
                        <app-geoportail-map></app-geoportail-map>
                    </div>
                </eui-page-column-body>
            </eui-page-column>
            <eui-page-column class="eui-page-column--size-m">
                <eui-page-column-body>
                    <ul>
                        <li>User</li>
                        <li>User</li>
                        <li>User</li>
                        <li>User</li>
                        <li>User</li>
                    </ul>
                </eui-page-column-body>
            </eui-page-column>
        </eui-page-columns>
    </eui-page-content>
</eui-page>
