.map-container {
    width: 100%;
    height: 100%;
    min-height: 400px;
}

.map-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    min-height: 400px;
    background-color: #d0d0d0;

    input {
        padding-right: 1rem;
    }
}

.map-inner {
    flex: 1;
    width: 100%;
}

.layer-manager,
.bg-selector {
    margin-top: 0.5rem;
}

// .lux-layer-manager {
//     background-color: gray;
//     border: 1px solid red;
// }
